<ion-header>

  <ion-navbar>
    <ion-title>Modos de transporte</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label>Metro</ion-label>
      <ion-checkbox color="royal" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Tranvía</ion-label>
      <ion-checkbox color="royal" checked="true"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Cable</ion-label>
      <ion-checkbox color="royal" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Metro plus</ion-label>
      <ion-checkbox color="royal" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Alimentador metro</ion-label>
      <ion-checkbox color="royal" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Autobus</ion-label>
      <ion-checkbox color="royal" checked="true"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Bicicleta encicla</ion-label>
      <ion-checkbox color="royal" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Bicicleta particular</ion-label>
      <ion-checkbox color="royal" checked="true"></ion-checkbox>
    </ion-item>

  </ion-list>

</ion-content>