<!-- <ion-fab left bottom #fabMovilidad>
    <button ion-fab [ngStyle]="{'background-color':app.color}">
        <img src="{{app.urlIcon}}"/>
    </button>

    <ion-fab-list side="top" id="submenu-amva">
        <button ion-fab style="border-radius:0; transform: scale(1); visibility: visible; opacity: 1" [ngStyle]="{'background-color':app.color}" (click)="menuAnterior()">

            <ion-icon name="ios-arrow-back" color="light"></ion-icon>
        </button>

        <div *ngFor="let layer of app.children; let i=index;">
            <button ion-fab style="border-radius:0; transform: scale(1); visibility: visible; opacity: 1" [ngStyle]="{'background-color':app.color}" *ngIf="isActiveLayer(layer.id)">
            
                <img [src]="layer.urlIcon">
            </button>
        </div>
    </ion-fab-list>
</ion-fab>-->

<layer-manager [app]="app"></layer-manager>

<!--TODO: include here the component for searching -->

<my-location [color]="app.color" 
             [actionRadius]="actionRadius" 
             (clickPedestrian)="onClickPedestrian($event)" 
             (clickMyLocationButton)="onClickMyLocationButton($event)" 
             (dragendPedestrian)="onDragendPedestrian($event)"></my-location>