mideme-calculator {

    .button{
        width:200px;
        height:40px;
        text-align: left !important;
    }
    dynamic-form {
        .label {
            text-align: left;
        }
    }
}
