mideme-modal-check-challenge {
    left: calc(50% - 150px)!important;
    top: 30%!important;
    position: absolute!important;
    display: block!important;
    width: 300px!important;
    border-radius:6px;
    h1 {
        font-size:2rem;
    }
    ion-header {
        .toolbar-background-md, .toolbar-background-ios {
            background:transparent;
            border:none;
        }
        .toolbar-title {
            color:#fff;
            display: contents;
            i {
                font-size: 2.5rem;
                position: absolute;
                left: 10px;
                width: 3rem;
            }
            .label {
                text-align: center;
                padding-left:30px;
            }
        }
        .bar-button {
            background: transparent;
            position:relative;
            height:20px;
            width:20px;
            top:-10px;
            right:0px;
            color:#fff;
        }

    }

    ion-content {
        text-align: center!important;
        height: 320px!important;
        border-radius:6px;
        top: 0px;
        .scroll-content {
            overflow-y: hidden;
        }
        div {
            width:100%;
            h1 {
                font-size:2rem;
            }
            p {
                font-size:1.7rem;
                color: map-get($colors , texto )
            }
            .warn {
                margin-top:-2rem;
                &::before {
                    font-family: "Ionicons";
                    content:"\f3a5";
                    font-size:70px;
                    font-weight:900;
                    color:map-get($colors, btnRed);
                }
            }
        }

        .botones {
            width: 100%;
            position: absolute;
            margin-left: -16px;
            bottom: 20px;
            .button{
                width: 50%;
                height:40px;
                font-size: 1.4rem;
                text-transform:unset;
                color:#fff;
                max-width:60px;
                border-radius:6px;
                position:unset;
                background:map-get($colors , btnRed );
                &:first-of-type {
                    margin-right:20px;
                    background:map-get($colors , btnGreen );
                }
            }
        }
        .progreso {
            padding:0 0 20px;
            .progress {
                display: flex;
                background: rgba(0, 0, 0, 0.2);
                max-height: 5px;
                border-radius: 4px;
                margin: 10px 0;
                width:100%;
                .lr {
                    width: 5px;
                    position: relative;
                    left: 0;
                    top: -12px;
                    margin: 0;
                    height: 30px;
                    &:last-child {
                        left: 16px;
                    }
                }     
                &-bar {
                    background: map-get($colors , huellas );
                    max-height: 10px;
                }
                i {
                    font-size:40px;
                    color:map-get($colors , btnGreen );
                    margin-top:-15px;
                    margin-left: -20px;
                    text-align:center;
                    p {
                        color:#fff;
                        font-size: 1.5rem;
                        top: -48px;
                        position: relative;
                        font-weight: bold;
                    }
                }
            }
            .pBar {
                font-size:2rem;
                font-weight:bold;
                margin-top: 15px;
                margin-left: -3px;
                width: calc(100% + 10px);
            }
        }
    }
    ion-icon {
        font-size: 64px;
    }
}
