<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">	
	    <title th:text="'' + ${title}"></title>
	    <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
		<div th:replace="fragments/frameMaps :: header-contend" ></div>   
	</head>
	
	<body>
	
	    <div class="container">
            <div class="starter-template">
                <h1>403 - Access is denied</h1>
                <div >you do not have permission to access this page.</div>
            </div>
        </div>
   
	</body>
	
</html>