<div class="help" (click)="helpModal()">Ayuda</div>

<ion-item class="itemMenu" (click)="perfilUsuario()">
  <i class="fas fa-user-circle fa-lg fa-fw" item-left></i>
  <ion-label> Perfil </ion-label>
</ion-item>

<ion-item *ngIf="showUpdatePasswordOption()" class="itemMenu" (click)="updatePassword()">
  <i class="fas fa-lock fa-lg fa-fw" item-left></i>
  <ion-label> Actualizar Contraseña </ion-label>
</ion-item>

<ion-item class="itemMenu" (click)="policyModal()">
  <i class="fas fa-file-signature fa-lg fa-fw" item-left></i>
  <ion-label> Políticas de Privacidad </ion-label>
</ion-item>

<ion-item class="itemMenu" (click)="openModal()">
  <i class="fas fa-info-circle fa-lg fa-fw" item-left></i>
  <ion-label> Información </ion-label>
</ion-item>

<ion-item class="itemMenu" (click)="logout()">
  <i class="fas fa-power-off fa-lg fa-fw" item-left></i>
  <ion-label> Cerrar Sesión </ion-label>
</ion-item>